.slide5{
    background-image: url("https://stimg.cardekho.com/images/carexteriorimages/930x620/Toyota/Innova-Crysta/8199/1606212255498/front-left-side-47.jpg");
    background-size: cover;
}

.slide4{
    background-image: url("https://static.toiimg.com/photo/48681386.cms");
    background-size: cover;
}

.slide3{
    background-image: url("https://www.shivcabs.com/images/Pune%20to%20Goa%20Innova%20Cab.jpg");
    background-size: cover;
}

.slide2{
    background-image: url("https://vnn-imgs-f.vgcloud.vn/2021/06/07/10/pure-waterfalls-gifts-from-mother-nature.jpg");
    background-size: cover;
}
